include "./result/conf/testnet-internal-nomad.conf"

mantis.consensus.mining-enabled = false
mantis.blockchains.testnet-internal.custom-genesis-file = "./genesis.json"

mantis.blockchains.testnet-internal-nomad.bootstrap-nodes = [
{{ range service "mantis-testnet-mantis-miner" -}}
  "enode://  {{- with secret (printf "kv/data/nomad-cluster/testnet/%s/enode-hash" .ServiceMeta.Name) -}}
    {{- .Data.data.value -}}
    {{- end -}}@{{ .ServiceMeta.Name }}.mantis.pw:{{ .ServiceMeta.IngressPort }}",
{{ end -}}
]
