{{ range services }}
  {{ . | toJSON }}
{{ end }}



{{ range service "mantis-miner" -}}
  {{.ServiceMeta.Name}}:
  Public IP: {{ .ServiceMeta.PublicIp }}
  Node Name: {{ .Node }}
{{ end -}}

{{ range service "mantis-passive" -}}
  {{.ServiceMeta.Name}}:
  Public IP: {{ .ServiceMeta.PublicIp }}
  Node Name: {{ .Node }}
{{ end -}}
